// Variables
$bg-color: #f9f4f5;
$primary-color: #e91e63;
$secondary-color: #ff4081;
$hover-color: #ff5c8d;
$font-body: 'Montserrat', sans-serif;
$font-fancy: 'Dancing Script', cursive;

body {
  font-family: $font-body;
  text-align: center;
  margin: 0;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;

  .container {
    padding: 30px;
    width: 100%;
    max-width: 800px;

    h1 {
      font-family: $font-fancy;
      font-size: 48px;
      margin-bottom: 30px;
      color: $primary-color;
    }

    .buttons {
      margin: 20px;

      button {
        font-family: $font-body;
        font-size: 20px;
        padding: 12px 24px;
        margin: 10px;
        border: none;
        border-radius: 20px;
        background-color: $secondary-color;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: $hover-color;
        }
      }


    }

    .popup {
      display: none;
      background-color: #fff;
      border: 1px solid $primary-color;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      padding: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
      font-family: $font-fancy;
      font-size: 32px;
      color: $primary-color;

      &.fade-in {
        animation: fadeIn 0.3s ease;
      }
    }
  }
}

@media (max-width: 600px) {
  body .container {
    h1 {
      font-size: 64px;
    }

    .buttons button {
      font-size: 32px;
      padding: 20px 40px;
      margin: 15px;
      display: block; // Stack them on small mobile
      width: 100%;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
    }

    .popup {
      width: 85%;
      padding: 40px;
      font-size: 48px;
    }
  }
}







@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}